.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}
.list-group-dark .list-group-item {
    background-color: #333; 
    color: #fff;
  }
  .list-group-dark .list-group-item:hover {
    background-color: #444;
  }   
  